.container {
  margin-top: 30px;
}
.searchContainer {
  display: flex;
  margin: 10px 10% 0;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--hover);
  word-wrap: break-word;
  white-space: normal;
  overflow: auto;
}
.Thumbnail {
}
.searchContainer:hover {
  transition: all 0.5s;
  border: 1px solid var(--text);
}
.contentContainer {
  /* width: 700px; */
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  word-wrap: break-word;
  white-space: normal;
  overflow: auto;
}
.title {
  font-size: larger;
  color: var(--baseText);
}
.author {
  font-size: small;
  color: var(--text);
}
.desc {
  font-size: small;
  white-space: normal;
  margin-top: 10px;
  color: var(--text);
}

@media only screen and (max-width: 720px) {
  /* body {
    -webkit-filter: blur(8px);
  } */
  .searchContainer {
    margin: 10px auto;
    flex-direction: column;
    width: 310px;
  }
  .contentContainer {
    margin: 0;
  }
  .title {
    margin-top: 10px;
  }
  .Thumbnail {
  }
}
